


<h1 mat-dialog-title>
  Checking .....
</h1>
<div mat-dialog-content>

  <div>

    <h5 mat-label>Provide Room-Key in any one of the following Way</h5>

    <mat-radio-group [(ngModel)]="inputMode">
      <mat-radio-button value="textMode">Enter Room Key</mat-radio-button>
      <mat-radio-button value="qrMode">Scan QR</mat-radio-button>
    </mat-radio-group>
  </div>
  <hr>
  <div *ngIf="inputMode=='qrMode'" >
    <input type="file" (change)="onChange($event)" />
    <div *ngIf="dataurl!=null">
      <ng2-qrcode-reader (result)="render($event)" [qrr-show]="false" [qrr-value]="dataurl" [qrr-type]="elementType" [hidden]="true">
      </ng2-qrcode-reader>
    </div>
  </div>

  <div *ngIf="inputMode=='textMode'" >
    <mat-form-field>
      <input matInput type="text" placeholder="RoomKey" [(ngModel)]='key'>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions style="float:right">
  <!-- {{ 'key ' + (key | json)}} -->

  <mat-label *ngIf="key==null &&  data.roomKey!= key">

    <!-- Invalid Key or Invalid QR Code -->
    Provide Valid Key or QR Code
  </mat-label>

  <button mat-raised-button [mat-dialog-close]="(data.roomKey== key || data.roomKey==scanKey)" cdkFocusInitial color='warn'
    [disabled]='
    key==null ||  data.roomKey!= key'>
    <!-- !(data.roomKey== key || data.roomKey==scanKey) -->
    Check In</button>
</div>