
<carousel class='test'>

  <slide *ngFor="let slide of slides; let i=index">
    <img [src]="slide.imgSrc" alt="" class="slide-image image-size">
    <div class="carousel-caption d-none d-md-block" *ngIf="slideDetails.isRoomSearch==false">
      <h3> Room Rent : {{slideDetails.roomRent | currency:'INR'}} </h3>
      <h4> Address : {{slideDetails.address}} </h4>

    </div>
    <div class="carousel-caption d-none d-md-block" *ngIf="slideDetails.isRoomSearch==true">
      <h3> Room Rent : {{slideDetails.roomRent | currency:'INR'}} </h3>
      <h4> Description : {{slideDetails.desc}} </h4>

    </div>
  </slide>

</carousel>