<div mat-dialog-content>


  <div class="container-fluid div-margin small-screen-scroll">
    <h1 mat-dialog-title>
      Booking Details


      <span *ngIf="isHistory" style="float:right" mat-label color='warn'>Payment of {{ hotel.total | currency:'INR'}} has been received</span>

      <button *ngIf="!isHistory" mat-raised-button [mat-dialog-close]="'true'" cdkFocusInitial [disabled]='!hotel.checkingDetails.isCheckOut|| hotel.checkingDetails.approval'
        color='warn' style="float:right">
        {{ hotel.checkingDetails.approval ? 'Checkout Approved ' : 'Approve for Checkout' }}
      </button>

    </h1>
    <mat-card>
      <mat-card-content>
        <div class="row">

          <div class="container-fluid" fxLayout="row" fxLayout.xs="column">

            <div fxFlex="20%">
              <img src="assets/logo/star3.png" alt="" srcset="" style="width:40%;">
            </div>
            <div fxFlex="80%">
              <p>
                {{hotel.hotelDetails.name}}
                <app-star [star]='hotel.hotelDetails.starClass'> </app-star>
              </p>
              <p>
                {{hotel.hotelDetails.location}} - {{hotel.hotelDetails.phone}}
              </p>
            </div>
          </div>

          <div class="container-fluid div-margin" fxLayout="row" fxLayout.xs="column">
            <div [fxFlex]='isHistory ? "40" : "50" '>
              <h5>Hotel Details</h5>

              <p> location : {{hotel.hotelDetails.location}} </p>
              <p> address : {{hotel.hotelDetails.address}} </p>
              <p> Contact Details : {{hotel.hotelDetails.phone}} </p>

            </div>
            <div class="div-separator" [fxFlex]='isHistory ? "35" : "50" '>

              <h5>Room Details</h5>
              <p> roomType : {{hotel.roomDetails.roomType}} </p>
              <p> basicFare : {{hotel.roomDetails.basicFare}} </p>
              <p> checkIn : {{hotel.checkingDetails.checkIn}} </p>
              <p> checkOut : {{hotel.checkingDetails.checkOut}} </p>
            </div>
            <div class="div-separator" *ngIf="isHistory" fxFlex>
              <h5> FeedBack Details: </h5>
              <p>Message :{{hotel.feedbackMessage}} </p>
              <p>
                rating : </p>
              <p>
                <app-star [star]='hotel.feedbackRating'> </app-star>

              </p>
            </div>

          </div>

        </div>
      </mat-card-content>

      <mat-card-footer>
        <div>
          <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Guest List:
                </mat-panel-title>
                <mat-panel-description>

                  <span mat-label> {{ hotel.roomDetails.guestList.length}} Guest Are Staying </span>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <app-guest-list [dataSrc]='hotel.roomDetails.guestList'>

              </app-guest-list>


            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Used Services:
                </mat-panel-title>
                <mat-panel-description>

                  <span mat-label>Payment Amount: {{ hotel.total | currency:'INR'}} </span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>

                <app-billing-list [dataSrc]='hotel.usedServices'>

                </app-billing-list>

              </div>


            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-footer>

    </mat-card>
  </div>

  <div mat-dialog-actions style="float:right" *ngIf="!isHistory">
    <mat-label> Booked By : {{hotel.userId}} </mat-label>

  </div>