<div style="text-align:center">
  <h1 mat-dialog-title>
    Booking Details:</h1>
  <div mat-dialog-content>
    <div class="container-fluid" fxLayout="column">

      <div fxFlex="100%" fxFlexOrder="1">

        {{data.roomKeyMessage}}
      </div>

      <div fxFlex="100%" fxFlexOrder="2">

        QR CODE for room
        <div *ngIf="data.roomKey!=null">

          <ngx-qrcode qrc-element-type="img" [qrc-value]="data.roomKey" qrc-version="5" (click)='clicked($event)'>
            <!-- [title]='data.roomKey' -->
          </ngx-qrcode>
        </div>

      </div>

    </div>

  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <button mat-button [mat-dialog-close]="'search'" cdkFocusInitial>Book Another Room??</button>
    <button mat-button [mat-dialog-close]="'checkin'" cdkFocusInitial>Go for Check-In</button>
  </div>


</div>